# Python
__pycache__/
*.py[cod]
*.pkl
venv/
.env
*.egg-info/

# Data folders (too large)
model/data/
model/data_v2/
*.zip
*.tar
*.csv

# Model weights (too large for GitHub)
model/weights/
model/weights_v2/

# Node
node_modules/
.env
dist/

# System
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/